* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color */
body {
    background-color:rgb(227, 253, 240)
}

/* Start header/nav styling */

header {
    padding: 20px 35px;
    background-color: #036970;
}

header h1 {
    font-weight: bold;
    letter-spacing: 0.04cm;
    font-size: 36px;
    color: hsl(166, 28%, 85%);
    display: inline;
    margin: 0;
}

header nav {
    float: right;
    margin: 2px 0;
    display: inline;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px; 
    font-weight: lighter;
    font-size: 20px;
    color:hsl(166, 28%, 85%)
}

nav a:hover {
    background-color: rgb(73, 49, 207);
}
/* End header/nav styling */

/* Hero styling */

.hero-image {
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;  
}

.hero-text {
    color: hsl(166, 28%, 85%);
}

.hero-text h2 {
    text-align: right;
    position: relative; 
    padding: 2px;
    bottom: -130px;
    margin-right: 10px;
}

.hero-text h3 {
    text-align: right;
    position: relative; 
    padding: 2px;
    bottom: -135px;
    margin-right: 10px;
    font-style: italic;
}
/* End Hero Styling */

/* Start Content Styling */

content {
    width: 100%;
    display: inline;
}

/* Start Sidebar Styling */
.title-sidebars {
    margin-left: 0px;
    padding: 20px;
    clear: both;
    width: 30%;
    float: left;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 50px;
    border-right-color: black;
    border-right-width: 0.5px;
    border-right-style: solid;  
}

.about-me-title {
    margin-bottom: 32px;
    color: black;
    flex: 70%;
    padding: 20px;
    border-right-color: rgba(42, 54, 58, 0.404);
    border-right-width: 4px;
    border-right-style: solid;
    text-align-last: right;
}

.about-me-title img {
    max-width: 375px;
    max-height: 375px;
    border-color: rgba(42, 54, 58, 0.404);
    border-width: 4px;
    border-style: solid;
    margin-top: 20px;
 }

.work-title {
    margin-bottom: 32px; 
    color: black;
    border-right-color: black;
    border-right-width: 2px;
    border-right-style: solid;
    text-align-last: right;
    padding: 20px;
}

.contact-title {
    margin-bottom: 32px;
    color: black;
    border-right-color: rgba(42, 54, 58, 0.404);
    border-right-width: 4px;
    border-right-style: solid;
    text-align-last: right;
    padding: 20px;
}

.about-me-title h2 {
    margin-bottom: 10px;
    text-align: right;
    color: black;
}

.work-title {
    border-right-color: rgba(42, 54, 58, 0.404);
    border-right-width: 4px;
    border-right-style: solid;  
}

.work-title h2 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.contact-title h2 {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}
/* End Sidebar Styling */

/* Start Info Section Styling */

.about-me {
    margin-block-start: -1000px;
    font-family:'Times New Roman', Times, serif;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Times New Roman', Times, serif;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Times New Roman', Times, serif;
}

.bio-text {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Times New Roman', Times, serif;
    width: 70%;
    float: right;
}

.bio-text p {
    display: block;
    float: right;
    width: 65%;
    font-size: 16px;
    line-height: 1.25;
}

.work {
    width: 70%;
    float: right;
}

.work h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.work h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.flex-container {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container h3 h4 img {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
}

